@import url('https://fonts.googleapis.com/css?family=Special+Elite');
body{
	font-family: 'Special Elite', cursive;
	font-size: 35px;  

}

.jumbotro{
	border-radius: 0px !important;
}

.float--right{
	float: right;
}

.fundo--cor{
	background-color: #00bf8f; 
}

.gradiente{
background-color: #08AEEA;
background-image: linear-gradient( #00bf8f, #00bf8f);

}

.rodape{
	background-image: url(../terrafundo.jpg);
	background-color: white; 
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	position: relative;

}

.contato{
	text-align: center;
	position: relative;
	color: white;
	font-size: 22px;
	top: 50%;
	left:
	transform: translateY(-50) transform: translateX(-50);

}
 .fundo--dosite{
 	background-color: black;
 	

 }

 .h1{
 	color: white;		
 }


